@tailwind base;
@tailwind components;
@tailwind utilities;

$transition-slowest: 1000ms;
$transition-slow: 700ms;
$transition-medium: 500ms;
$transition-fast: 300ms;
$transition-faster: 100ms;
$transition-fastest: 75ms;

@layer components {
  .default-container {
    background-color: #100f1095;
    border-width: theme('borderWidth.2');
    border-color: rgb(255 255 255 / 0.05);
    border-radius: theme('borderRadius.3xl');
    box-shadow: theme('boxShadow.inner');
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  color: white;
}

.sidebar-enter {
  position: absolute;
  transform: translateX(-200%);
}

.sidebar-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.sidebar-exit {
  position: absolute;
}

.sidebar-exit-active {
  transform: translateX(-200%);
  transition: all 500ms ease;
}

.changes-made-enter {
  transform: translateY(200%);
}

.changes-made-enter-active {
  transform: translateY(0%);
  transition: all 500ms ease;
}

.changes-made-enter-done {
  transform: translateY(0%);
  transition: all 500ms ease;
}

.changes-made-exit {}

.changes-made-exit-active {
  transform: translateY(200%);
  transition: all 500ms ease;
}

.changes-made-exit-done {}

//

.stock-quantity-value-enter {
  opacity: 0;
}

.stock-quantity-value-enter-active {
  opacity: 100%;
  transition: all 200ms ease;
}

.stock-quantity-value-exit {}

.stock-quantity-value-exit-active {
  opacity: 0;
  transition: all 200ms ease;
}

.transition-slow {
  transition: all ease-in-out $transition-slow;
}

.transition-slowest {
  transition: all ease-in-out $transition-slowest;
}

.transition-medium {
  transition: all ease-in-out $transition-medium;
}

.transition-fast {
  transition: all ease-in-out $transition-fast;
}

.transition-faster {
  transition: all ease-in-out $transition-faster;
}

.transition-fastest {
  transition: all ease-in-out $transition-fastest;
}

/* for change border color*/
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00D61570 !important;
  transition: all ease-in-out $transition-fast;
}

/*for change label color in focus state*/
.MuiFormLabel-root.Mui-focused {
  color: #00D615 !important;
  background-color: #00D61520 !important;
  border-radius: 8px !important;
  padding: 4px !important;
  transition: all ease-in-out $transition-fast;
}

.MuiFormLabel-root {
  color: white !important;
  font-size: 12px !important;
}

.MuiPaper-root {
  background-color: transparent !important;
  border-radius: 16px !important;
  color: white !important;
}



::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: #007d0d;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #002103;
}